.row
	.col
		.item(ng-repeat="item in lists")
			h2 {{item.Name}} 
			p {{item.Country}} 
		//- Phân trang
		.pagebottom(ng-show="data.length")
			.row.align-items-center
				.col-auto.d-flex.align-items-center
					.mr-2.tl {{lang.itempage}}
					select.form-control.form-control-sm(ng-model="viewby" ng-change="setItemsPerPage(viewby)"  ng-options="item as item.name for item in select")
				.col.justify-content-end.d-flex
					ul.mb-0.pagination(uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" items-per-page="itemsPerPage" next-text="Trang kế", previous-text="Trang trước")
