
<div class="row">
  <div class="col">
    <div class="item" ng-repeat="item in lists">
      <p> <a href="">{{item.Name}} </a></p>
    </div>
    <div class="pagebottom" ng-show="data.length">
      <div class="row align-items-center">
        <div class="col-auto d-flex align-items-center">
          <div class="mr-2 tl">{{lang.itempage}}</div>
          <select class="form-control form-control-sm" ng-model="viewby" ng-change="setItemsPerPage(viewby)" ng-options="item as item.name for item in select"></select>
        </div>
        <div class="col justify-content-end d-flex">
          <ul class="mb-0 pagination" uib-pagination="uib-pagination" total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" items-per-page="itemsPerPage" next-text="Trang kế" previous-text="Trang trước"></ul>
        </div>
      </div>
    </div>
  </div>
</div>